body{
    background-color: #083b4c;
}

h1{
    font-size: 50px;
    color: #fff;
}

div.col-2.box{
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    align-self: center;
    margin: 10px;
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.number{
    background-color: #1389b2;
}

.buzz{
    background-color: #ffd166;
}

.fizz{
    background-color: #0cd6a1;
}

.fizzbuzz{
    background-color: #f0466f;
}